.people-button {
    border: 2px solid #ccc;
    border-Radius: 8px;
    box-Shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-Decoration: none;
    color: inherit;
    width: 100%;
    padding: 5px;
    background-color: #9f9fa1;/*#bddbd2;*/
    cursor: pointer;
}
.people-button:hover {
    background-color: #5c7a71; /* Цвет фона при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    color: white;
}



.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    height: 80vh; /* чтобы он занимал 80% высоты окна */
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    position: relative;
}

.people-modal-image {
    align-items: center;
    width: 100%;
    height: 70%;
    object-fit: contain; /* чтобы изображение не искажалось и помещалось внутри блока */
    display: block;
}

.people-modal-text {
    flex: 1;
    white-space: pre-wrap; /* сохраняет переносы строк */
    color: #333;
}

